.navButton.MuiListItem-root {
  white-space: nowrap;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
  color: white;
}
.navButton.MuiListItem-button:hover,
.navButton.MuiListItem-button.selected {
  background-color: white !important;
  border-radius: 7px;
  transition: "ease-in";
  transition-duration: 250ms;
}
.navButton.MuiListItem-button:hover .MuiListItemText-primary,
.navButton.MuiListItem-button.selected .MuiListItemText-primary,
.sublink.MuiListItem-button .MuiListItemText-primary {
  color: black;
  transition: "ease-in";
  transition-duration: 250ms;
}
.navButton.MuiListItem-button:hover .MuiListItemIcon-root,
.navButton.MuiListItem-button.selected .MuiListItemIcon-root {
  color: black;
  transition: "ease-in";
  transition-duration: 250ms;
}

/* .selected::after {
  content: "";
  border: solid 1.5em transparent;
  border-right-color: var(--lightGrey);
  left: 11.4em;
  position: absolute;
} */

.iconRoot {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  color: white;
  transition: ease-in;
  transition-duration: 250ms;
}
.textPrimary .MuiListItemIcon-root {
  font-weight: 500;
  color: white;
  transition: ease-in;
  transition-duration: 250ms;
  font-size: 18px;
}
.textPrimary .MuiTypography-root {
  font-weight: 500;
  color: white;
  transition: ease-in;
  transition-duration: 250ms;
  font-size: 18px;
}
.sublink.MuiListItem-root {
  padding-left: 80px;
  background: rgba(255, 255, 255, 0.4);
}
